#everything{
    background-color:black;
    color: white;
}
.nav{
   margin-top: -10vh;
   
}
.landing h1,p{
    text-align: center;
    justify-content: center;
    margin-top: 20vh;
    color: white;
}
.landing button{
    color: white;
    width: 15vw;
    background-color: transparent;
    margin-left: 33vw;
    border-radius: 10px;
    font-size: larger;
    font-weight: bold;

}

.jumbotron{
    height: 100vh;
    background-image: url(../images/background.jpg);
    background-size: cover;
    
}
#landing{
    background-color: black;
    margin-bottom: -5vh;
}
#about{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10vh 5vw;
    margin: 0;
}
#about h2{
    margin-bottom: 5vh;
}
#menu{
    margin: 10vh 5vh;
}
#menu h2{
    text-align: center;
    justify-content: center;
}
#menu h3{
    margin: 3vh;
    color: black;
}
#menu button{
    border-radius: 15px;
    padding: 10px;
    margin-bottom: -5vh;
}
#contact{
    color: white;
    padding: 5vh 5vw;
}
#socials{
    margin-top: 10vh;

}
.card-deck{
    margin: 5vw auto;
}
.card{
    perspective: 1000px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.card:hover {
    transform: rotateY(180deg);
  }
  .front, .card-body {
    position: absolute;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
.card-body {
    background-color: orange;
    color: white;
    transform: rotateY(180deg);
    position: absolute;
    height: 43.5vh;
    text-align: center;
    justify-content: center;
    padding: auto;
    
}
.column{
    padding-bottom: 2vh;
}
button{
    padding: 15px 5px;
    border-radius: 7px;
}
footer{
    text-align: center;
    justify-content: center;
}
ul{
    list-style-type: none;
    padding-top: 2vh;
}
li{
    padding-bottom: 5vh;
}
#contact{
    margin-top: 7vh;
}
#order{
    background-image: url(https://media.istockphoto.com/photos/marinara-pizza-picture-id184969517?b=1&k=20&m=184969517&s=170667a&w=0&h=kp-mjzeXZbdN5WPFsFje4BxKKqt6x5f5AeMRCmquvM4=);
    height: 100vh;
}
#order form{
    justify-content: center;
    padding: 1vh 5vw;
}
#order h2{
    text-align: center;
    margin-top: -3vh;
}
#submitbtn{
    background-color: orange;
    border-radius: 10px;
    padding: 5px 10px;
}
#checkboxes{
    /* background-color: white; */
    color: black;
    margin-bottom: 2vh;
    justify-content: center;
    margin-left: 20vw;
}