#everything{
    background-color:black;
    color: white;
}
.nav{
   margin-top: -10vh;
   
}
.landing h1,p{
    text-align: center;
    justify-content: center;
    margin-top: 20vh;
    color: white;
}
.landing button{
    color: white;
    width: 15vw;
    background-color: transparent;
    margin-left: 33vw;
    border-radius: 10px;
    font-size: larger;
    font-weight: bold;

}

.jumbotron{
    height: 100vh;
    background-image: url(../images/background.jpg);
    background-size: cover;
    
}
#landing{
    background-color: black;
    margin-bottom: -5vh;
}
#about{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10vh 5vw;
    margin: 0;
}
#about h2{
    margin-bottom: 5vh;
}
#menu{
    margin: 10vh 5vh;
}
#menu h2{
    text-align: center;
    justify-content: center;
}
#menu h3{
    margin: 3vh;
    color: black;
}
#menu button{
    border-radius: 15px;
    padding: 10px;
    margin-bottom: -5vh;
}
#contact{
    color: white;
    padding: 5vh 5vw;
}
#socials{
    margin-top: 10vh;

}
.card-deck{
    margin: 5vw auto;
}
.card{
    perspective: 1000px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.card:hover {
    transform: rotateY(180deg);
  }
  .front, .card-body {
    position: absolute;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
.card-body {
    background-color: orange;
    color: white;
    transform: rotateY(180deg);
    position: absolute;
    height: 49vh;
    text-align: center;
    justify-content: center;
    padding: auto;
    
}
button{
    padding: 15px 5px;
    border-radius: 7px;
}
footer{
    text-align: center;
    justify-content: center;
}
ul{
    list-style-type: none;
    padding-top: 2vh;
}
li{
    padding-bottom: 5vh;
}
#contact{
    margin-top: 7vh;
}